<!DOCTYPE html>
<html class="dark">
  <head>
    <title>Storydroid</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="paper container margin-top-large margin-bottom-large">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
